body {
    background-color: #1a1a1a;
    font-family: font-family "Roboto Regular", Tahoma, sans-serif;
}

.login-box{
    /* border: 1px solid white; */
    width: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px dimgrey;
    /* opacity: 0.9; */
}
.login-box-wrapper{
    /* border: 1px solid white; */
    /* height: 700px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.login-box > div{
    /* border: 1px solid red; */
    height: 70px;
}
.login-details-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-login-inputs{
    width: 72%;
    height: 53%;
    border-radius: 9px;
    border: 0;
    background-color:#e6e6e6;
    /* opacity: 0.3; */
    padding: 5px 1px 5px 17px;
    color: black;
    outline: none
}
.user-logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-log-in-login-page{
    width: 18%;
    height: 97%;
    object-fit: cover;
    border-radius: 50%;
}
.login-sign-up-botton-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-sign-up-button{
    width: 77%;
    height: 62%;
    border-radius: 9px;
    border: 0;
    background-color: #5cd65c;
    outline: none;
    cursor: pointer;
}
.login-sign-up-check{
    width: 77%;
    height: 62%;
    border-radius: 9px;
    border: 0;
    /* background-color: #5cd65c; */
    outline: none;
    cursor: pointer;
}
.error-text-box{
    color: red;
}

.login-sign-up-button:active {
    border: 2px solid green;
  }
  .login-sign-up-check:active {
    /* border: 3px solid green; */
    background-color: black;
    color: white;
  }
  .dept-select{
    width: 77%;
    height: 62%;
    border-radius: 9px;
    border: 0;
    background-color: #e6e6e6;
    /* opacity: 0.3; */
    padding: 5px 1px 5px 17px;
    color: black;
    outline: none;
  }



  @media only screen and (max-width: 400px) {
    .login-box-wrapper{
        margin-top:20%;
    }

    .login-box{
        width: 289px
    }
  }
